@base: #e5e5e5;
@titleBgColor: #428BCA;

@marginHeight: 35px;

@borderColor: #CCCCCC;

@white: #fff;
@iconColor: #999;

body {
  background: @base;
  margin: 0;
  padding: 0;
}

#app {
  .paper-header {
    height: @marginHeight;
    line-height: @marginHeight;
    background-color: @titleBgColor;
    margin-bottom: @marginHeight;
    color: @white;
  }

  .logic-puzzle {
    .difficult-setter {
      .form-control {
        width: 50%;
        margin-left: 10px;
      }
    }
  }

  .section {
    height: 180px;
    line-height: 180px;
    background-color: #f5f5f5;
    margin-top: @marginHeight;
    padding: 0;
    font-size: 15px;

    .section-name {
      padding-left: 15px;
      height: @marginHeight;
      line-height: @marginHeight;
      background-color: @titleBgColor;
      color: @white;
    }
    .delete {
      display: inline-block;
      float: right;
      position: relative;
      padding-right: 5px;
    }

    .quiz-btn {
      margin: 20px;
      height: 110px;
      line-height: 110px;
      padding-left: 0;
      border: 1px solid @borderColor;
      .fa-small {
        font-size: 80px;
        color: @iconColor;
        padding-left: 7px;
        padding-top: 17px;
      }
    }

  }

  .section-button {
    background-color: @white;
    margin-top: @marginHeight;
    margin-bottom: @marginHeight;
    .section-icon {
      color: #999;
      font-size: 100px;
    }
  }

  .homework-quiz {
    margin: 20px;
    height: 110px;
    border: 1px solid @borderColor;
  }
}
