@base: #e5e5e5;

@hight: 35px;

body {
  background: @base;
}

#paper {
  .paper-header {
    height: @hight;
    line-height: @hight;
    background-color: #428BCA;
    margin-bottom: @hight;
    color: #fff;

    span {
      margin-left: 30px;
    }
  }
}

#logic-puzzle {
  .difficult-setter {
    .form-control {
      width: 50%;
      margin-left: 10px;
    }
  }
}

#section-button {
  background-color: #f5f5f5;
  margin-top: @hight;
  .section-icon {
    color: #999;
    font-size: 100px;
  }
}